<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nf.wanjiamall.dao.CartDao">

    <!-- 根据用户Id查询购物车信息 -->
    <select id="getUserIdQueryCartAll" resultType="com.nf.wanjiamall.entity.CartEntity">
        select
            c.id, c.user_id, c.goods_sn,c.goods_name, c.product_id, c.price, c.number, c.checked, c.delted
        from
            wanjia_cart c left join wanjia_user u
            on c.user_id = u.id
        where delted = 0 and  c.user_id = #{userId}
    </select>

    <!-- 根据用户Id商品id查询购物车信息 -->
    <select id="getUserIdAndGoodsIduQueryCart" resultType="com.nf.wanjiamall.entity.CartEntity">
        select
            c.id, c.user_id, c.goods_sn ,c.goods_name, c.product_id, c.price, c.number, c.checked, c.delted
        from
            wanjia_cart c left join wanjia_user u
            on c.user_id = u.id
        where delted = 0 and  c.user_id = #{userId}  and c.goods_sn = #{id}
    </select>

    <!-- 根据用户Id查询购物车信息 -->
    <select id="getUserIdQueryCart" resultType="com.nf.wanjiamall.entity.CartEntity">
        select
            c.id, c.user_id, c.goods_name, c.product_id, c.price, c.number, c.checked, c.delted
        from
            wanjia_cart c left join wanjia_user u
            on c.user_id = u.id
        where delted = 0 and  c.user_id = #{userId}
    </select>


    <update id="updateById" >
        update wanjia_cart
        <set>
            <if test="cartEntity.userId != null">
                user_id = #{cartEntity.userId},
            </if>
            <if test="cartEntity.goodsId != null">
                goods_id = #{cartEntity.goodsId},
            </if>
            <if test="cartEntity.goodsSn != null">
                goods_sn = #{cartEntity.goodsSn},
            </if>
            <if test="cartEntity.goodsName != null">
                goods_name = #{cartEntity.goodsName},
            </if>
            <if test="cartEntity.productId != null">
                product_id = #{cartEntity.productId},
            </if>
            <if test="cartEntity.price != null">
                price = #{cartEntity.price},
            </if>
            <if test="cartEntity.number != null">
                `number` = #{cartEntity.number},
            </if>
            <if test="specifications != null">
                specifications = #{cartEntity.specifications,typeHandler=org.linlinjava.litemall.db.mybatis.JsonStringArrayTypeHandler},
            </if>
            <if test="checked != null">
                `checked` = #{cartEntity.checked},
            </if>
            <if test="picUrl != null">
                pic_url = #{cartEntity.picUrl},
            </if>
            <if test="addTime != null">
                add_time = #{cartEntity.addTime},
            </if>
            <if test="cartEntity.updateTime != null">
                update_time = #{cartEntity.updateTime},
            </if>
            <if test="cartEntity.delted != null">
                deleted = #{cartEntity.delted},
            </if>
        </set>
        where id = #{cartEntity.id}
    </update>


    <insert id="insertCart">
    insert into wanjia_cart
    <trim prefix="(" suffix=")" suffixOverrides=",">
        <if test="cartEntity.userId != null">
            user_id,
        </if>
        <if test="cartEntity.goodsId != null">
            goods_id,
        </if>
        <if test="cartEntity.goodsSn != null">
            goods_sn,
        </if>
        <if test="cartEntity.goodsName != null">
            goods_name,
        </if>
        <if test="cartEntity.productId != null">
            product_id,
        </if>
        <if test="cartEntity.price != null">
            price,
        </if>
        <if test="cartEntity.number != null">
            `number`,
        </if>
        <if test="cartEntity.specifications != null">
            specifications,
        </if>
        <if test="cartEntity.checked != null">
            `checked`,
        </if>
        <if test="cartEntity.picUrl != null">
            pic_url,
        </if>
        <if test="cartEntity.addTime != null">
            add_time,
        </if>
        <if test="cartEntity.updateTime != null">
            update_time,
        </if>
        <if test="cartEntity.delted != null">
            delted,
        </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
        <if test="cartEntity.userId != null">
            #{cartEntity.userId},
        </if>
        <if test="cartEntity.goodsId != null">
            #{cartEntity.goodsId},
        </if>
        <if test="cartEntity.goodsSn != null">
            #{cartEntity.goodsSn},
        </if>
        <if test="cartEntity.goodsName != null">
            #{cartEntity.goodsName},
        </if>
        <if test="cartEntity.productId != null">
            #{cartEntity.productId},
        </if>
        <if test="cartEntity.price != null">
            #{cartEntity.price},
        </if>
        <if test="cartEntity.number != null">
            #{cartEntity.number},
        </if>
        <if test="cartEntity.specifications != null">
            #{cartEntity.specifications typeHandler=org.linlinjava.litemall.db.mybatis.JsonStringArrayTypeHandler},
        </if>
        <if test="cartEntity.checked != null">
            #{cartEntity.checked},
        </if>
        <if test="cartEntity.picUrl != null">
            #{cartEntity.picUrl},
        </if>
        <if test="cartEntity.addTime != null">
            #{cartEntity.addTime},
        </if>
        <if test="cartEntity.updateTime != null">
            #{cartEntity.updateTime},
        </if>
        <if test="cartEntity.delted != null">
            #{cartEntity.delted},
        </if>
    </trim>
</insert>

    <select id="getExist" resultType="com.nf.wanjiamall.entity.CartEntity">
        select  id, user_id, goods_sn, goods_name, product_id, price, number, checked, pic_url, delted from wanjia_cart
        where user_id = #{userId} or goodsId = #{goodsId} or productId = #{productId}
    </select>

    <!--根据用户Id删除-->
    <delete id="deleteById">
      update wanjia_cart set
        delted = 1
        where id = #{id}
    </delete>

    <!--批量修改商品的勾选状态 -->
    <update id="updateCheck">
        update wanjia_cart set
        <if test="checked != null ">
            checked = #{checked}
        </if>
        where id in
        <foreach collection="productIds" item="item" index="index" open="(" close=")" separator=",">
            #{item}
        </foreach>
    </update>

    <update id="delete">
        update wanjia_cart set
        delted = 1
        where user_id = #{userId} or id in
        <foreach collection="productIds" item="item" index="index" open="(" close=")" separator=",">
            #{item}
        </foreach>
    </update>

</mapper>