<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nf.wanjiamall.dao.GoodsDao">

<!-- 上架商品  -->
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
    insert into wanjia_goods(goods_sn, name, category_id
    , brand_id, gallery, keywords, brief, is_on_sale
    , is_new, is_hot, unit, counter_price, retail_price
    , detail, add_time, update_time, delted,pic_url)
    values(#{goodsEntity.goodsSn},#{goodsEntity.name},#{goodsEntity.categoryId}
    ,#{goodsEntity.brandId},#{goodsEntity.gallerys},#{goodsEntity.keywords}
    ,#{goodsEntity.brief},#{goodsEntity.isOnSale},#{goodsEntity.isNew}
    ,#{goodsEntity.isHot},#{goodsEntity.unit},#{goodsEntity.counterPrice}
    ,#{goodsEntity.retailPrice},#{goodsEntity.detail},default,default,default,#{goodsEntity.picUrl})
    </insert>

<!--    修改商品信息 -->
    <update id="update">
        update wanjia_goods
        <set>
            <if test="goods.goodsSn != null">
                goods_sn = #{goods.goodsSn},
            </if>
            <if test="goods.name != null">
                name = #{goods.name},
            </if>
            <if test="goods.categoryId != null">
                category_id = #{goods.categoryId},
            </if>
            <if test="goods.brandId != null">
                brand_id = #{goods.brandId },
            </if>
            <if test="goods.gallerys != null">
                gallery = #{goods.gallerys},
            </if>
            <if test="goods.keywords != null">
                keywords = #{goods.keywords},
            </if>
            <if test="goods.brief != null">
                brief = #{goods.brief},
            </if>
            <if test="goods.isOnSale != null">
                is_on_sale = #{goods.isOnSale},
            </if>
            <if test="goods.isNew != null">
                is_new = #{goods.isNew},
            </if>
            <if test="goods.isHot != null">
                is_hot = #{goods.isHot},
            </if>
            <if test="goods.unit != null">
                unit = #{goods.unit},
            </if>
            <if test="goods.counterPrice != null">
                counter_price = #{goods.counterPrice},
            </if>
            <if test="goods.retailPrice != null">
                retail_price = #{goods.retailPrice},
            </if>
            <if test="goods.detail != null">
                detail = #{goods.detail},
            </if>
            <if test="goods.picUrl != null">
                pic_url = #{goods.picUrl},
            </if>
        </set>
        where id = #{goods.id}
    </update>

<!--    删除商品信息 -->
    <update id="delete">
        update wanjia_goods set delted = 1
        where id = #{id}
    </update>
    <resultMap id="goodsEntityResultMap" type="com.nf.wanjiamall.entity.GoodsEntity">
        <id column="id" property="id"/>
        <result column="gallery"  property="gallery"  typeHandler="com.nf.wanjiamall.dao.utlis.JsonStringArrayTypeHandler"/>
    </resultMap>
<!--    搜索   ，-->
    <select id="listGoods" resultMap="goodsEntityResultMap">
        select id, goods_sn, name, category_id, brand_id, gallery,pic_url, keywords, brief, is_on_sale, is_new, is_hot, unit, counter_price, retail_price, detail, add_time, update_time, delted from wanjia_goods
            <where>
                delted = 0
                <if test="id != null">
                    and id = #{id}
                </if>
                <if test="goodsSn != null">
                    and goods_sn like '%' #{goodsSn} '%'
                </if>
                <if test="name != null">
                    and name like '%' #{name} '%'
                </if>
            </where>
            order by update_time  desc
    </select>

    <select id="getAll" resultType="com.nf.wanjiamall.entity.GoodsEntity">
        select id, goods_sn, name, category_id, brand_id, gallery, keywords,
         brief, is_on_sale, is_new, is_hot, unit, counter_price, retail_price,
          detail, add_time, update_time, delted from wanjia_goods
    </select>

    <select id="GoodsById" resultMap="goodsEntityResultMap">
        select id, goods_sn, name, category_id, brand_id, pic_url,gallery, keywords,brief, is_on_sale, is_new, is_hot, unit, counter_price, retail_price, detail, add_time, update_time, delted from wanjia_goods
       where delted = 0 and id = #{id}
    </select>


</mapper>