<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nf.wanjiamall.dao.GoodsProductDao">

<!--    商品货物表添加-->
    <insert id="insert">
        insert into wanjia_goods_product(goods_id, specifications, price, number,
        url, add_time, update_time, delted) values
        (#{goodsProductEntity.goodsId},#{goodsProductEntity.specification},#{goodsProductEntity.price}
        ,#{goodsProductEntity.number},#{goodsProductEntity.url},default,default,default)
    </insert>
<!--    商品货物修改-->
    <update id="update">
        update wanjia_goods_product
        <set>
            <if test="goodsProductEntity.specifications != null">
                specifications = #{goodsProductEntity.specification},
            </if>
            <if test="goodsProductEntity.price != null ">
                price = #{goodsProductEntity.price},
            </if>
            <if test="goodsProductEntity.number != null">
                number = #{goodsProductEntity.number},
            </if>
            <if test="goodsProductEntity.url != null">
                url = #{goodsProductEntity.url},
            </if>
        </set>
            where id = #{goodsProductEntity.id}
    </update>




<!--    商品货物删除-->
    <update id="delete">
        update wanjia_goods_product set delted = 1 where goods_id = #{id}
    </update>



    <resultMap id="GoodsProductEntityMap" type="com.nf.wanjiamall.entity.GoodsProductEntity">
        <id column="id" property="id"/>
        <result column="specifications"  property="specifications"  typeHandler="com.nf.wanjiamall.dao.utlis.JsonStringArrayTypeHandler"/>
    </resultMap>


<!--    根据商品id查询-->
    <select id="listByGoodsId" resultMap="GoodsProductEntityMap">
        select id, goods_id, specifications, price, number, url, add_time, update_time, delted from wanjia_goods_product
        where delted = 0 and goods_id = #{id}
    </select>

</mapper>