<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nf.wanjiamall.dao.GoodsAttributeDao">

<!--   商品参数添加-->
    <insert id="insert">
        insert into wanjia_goods_attribute(goods_id, attribute, attribute_value
        , add_time, update_time, delted) values
        (#{goodsAttributeEntity.goodsId},#{goodsAttributeEntity.attribute},#{goodsAttributeEntity.attributeValue}
        ,default,default,default)
    </insert>

<!--商品参数修改-->
    <update id="update">
        update wanjia_goods_attribute
        <set>
            <if test="goodsAttr.attribute != null">
                attribute = #{goodsAttr.attribute},
            </if>
            <if test="goodsAttr.attributeValue != null">
                attribute_value = #{goodsAttr.attributeValue},
            </if>
        </set>
        where goods_id = #{goodsAttr.goodsId}
    </update>

    <update id="delete" >
        update wanjia_goods_attribute set delted = 1 where id = #{goodsAttr.id}
    </update>

    <select id="listGoodsById" resultType="com.nf.wanjiamall.entity.GoodsAttributeEntity">
        select id, goods_id, attribute, attribute_value, add_time, update_time, delted from wanjia_goods_attribute
        where delted = 0 and goods_id = #{id}
    </select>


</mapper>