<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nf.wanjiamall.dao.RoleDao">

    <select id="listRole" resultType="com.nf.wanjiamall.entity.RoleEntity">
        select id, name, description, enabled, add_time, update_time, delted from wanjia_role
        <where>
            delted = 0
            <if test="name != null">
                and name = #{name}
            </if>
        </where>
    </select>



</mapper>