<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nf.wanjiamall.dao.TopicDao">
    <select id="getAll" resultType="com.nf.wanjiamall.entity.TopicEntity">
        select * from wanjia_topic where deleted = 0
        <if test="topic.title !=null and topic.title != ''">
            and title like CONCAT('%',#{topic.title},'%')
        </if>
        <if test="topic.subtitle !=null and topic.subtitle != ''">
            and subtitle like CONCAT('%',#{topic.subtitle},'%')
        </if>
        <if test="topic.sort == 0">
            order by sort_order
        </if>
        <if test="topic.sort == 1">
            order by add_time
        </if>
        <if test="topic.sort == 2">
            order by price
        </if>
    </select>

    <select id="getByTopic" resultType="com.nf.wanjiamall.entity.TopicEntity">
        select * from wanjia_topic
        <trim prefix="where" suffixOverrides="and">
            deleted = 0
            <if test="topicTitle !=null and topicTitle !=''">
                <bind name="title" value="'%'+_parameter.topicTitle+'%'" />
                and title like #{title}
            </if>
            <if test="topicSubtitle !=null and topicSubtitle !=''">
                <bind name="subtitle" value="'%'+_parameter.topicSubtitle+'%'" />
                and subtitle like #{subtitle}
            </if>
        </trim>
    </select>
</mapper>